body{
    background-color: white;
    
    display: flex;
    flex-direction: column;

}

header{
    display: flex;
}
section{
    text-align: center;
}
.jogo{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
    color: white;
    height: 200px;
    width:  200px;
}
button{
    margin: 0 auto;
    margin-top: 50px;
    background-color: black;
    border: rgb(255, 0, 162) 2px solid;
    color: rgb(255, 0, 162);
    height: 50px;
    width: 50px;
   
}

.moedas{
    position: absolute;
    display: flex;    
    margin-top: 135px;
    margin-left: -24px;
   

}
.moeda{
    margin: 3px;
    background-color: gray;
    height: 50px;
    width: 50px;
}

.resultado{
    background-color: black;
    width: 200px;
    height: 200px;
}

.hexagrama{
    
    display: flex;
    flex-direction: column;
    margin: 5px;
}
.trigrama{
   margin: 1px;
    
}
.res{
    background-color: white;
    display: flex;
    width: 75px;
    padding: 2px;
    margin-left: 5px;
    
    
}
.bit{
    background-color: gray;
    height:25px ;
    width: 25px;
    margin-top:1px;
    margin-bottom: 1px;
}




ol{
    list-style: none;
}

.res_oraculo{
    height:500px ;
    width: 400px;
    background-color: black;
    color: white;
    padding: 5px;
    
}
.container_oraculo{
    background-color: white;
    color: black;
    height:450px ;
    width:350px ;
    margin-left: 25px;
    margin-top: 15px;
    padding: 1px;
}